*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #F5F5F5;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap');

header {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
    margin-top: -60px;
}

nav {
    margin-top: -50px;
}

.before-ul{
    display: flex;
    gap: 21px;
    align-items: center;
}

.before-li {
    list-style: none;
}

li a {
    color: black;
    text-decoration: none;
}

.top-cnt {
    background-color: #202020;
    padding: 10px 0;
}

.mini-top {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.loc-gm-cnt {
    display: flex;
    gap: 25px;
}

.gmail-cnt {
    display: flex;
    gap: 10px;
    color: white;
}

.location-cnt {
    display: flex;
    gap: 10px;
    color: white;
}

.media-cnt {
    display: flex;
    gap: 20px;
}

.logo-header {
    margin-left: -50px;
}

.ariza-btn {
    width: 160px;
    height: 60px;
    position: relative;
    background-color: #FF5219;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    color: #FFF;
    cursor: pointer;
    margin-left: 50px;
}

.container {
    position: relative;
    min-height: 100vh;
    background: rgb(3,0,203);
    background: linear-gradient(120deg, rgba(3,0,203,0.4739145658263305) 0%, rgba(255,255,255,1) 26%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 73%, rgba(255,0,228,0.40948879551820727) 100%);
}
.main-cnt {
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
    margin-top: -50px;
    position: relative;
}

.main-line-img-cnt {
    max-width: 300px;
}

.text-main-cnt {
    max-width: 536px;

}

.text-main-h3 {
    color: #0060FF;
    font-size: 30px;
}

.text-main-h1 {
    font-size: 76px;

}

.text-main-h1-span {
    color: #F5091A;
}

.img-cnt {
    max-width: 600px;
    position: relative;
}

.main-img {
    width: 100%;
}

.hamburger-menu {
    display: none;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: -40px;
    cursor: pointer;
}

.after-ul {
    display: none;
} 

.icon-line {
    background-color: black;
    width: 50px;
    border-radius: 10px;
    height: 5px;
}

.obj-1 {
    position: absolute;
    top: 100px;
    left: 30px;
}

.btn {
    width: 100%;
    max-width: 200px;
    height: 60px;
    background-color: #FF5219;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
}

.index-p {
    z-index: 12;
    color: white;
}

.btn-icon {
    border-radius: 4px;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    background-color: #202020;
}

.btn-flex-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.main-line-img-cnt {
    max-width: 250px;
    margin-left: 200px;
}

.main-line-img {
    width: 100%;
}

.btn-main-black {
    width: 100%;
    max-width: 150px;
    height: 60px;
    background-color: #202020;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
}

.btn-icon-black {
    border-radius: 4px;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    background-color: #FF5219;
}

.btn-black-p {
    z-index: 12;
    color: white;
}

.main-p-text {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #777;
}

.catigories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.catigories-grid-child {
    border: 1px solid #ACACAC;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 123px;
    padding: 0 20px;
    cursor: pointer;
    transition: 0.3s;
}

.catigories-grid-child:hover {
    background-color: #FF5219;
    border: none;
    color: #FFF;
}

.lesson-catigories-container {
    max-width: 1170px;
    margin: auto;
}

.catigories-h3 {
    text-align: center;
    color: #005FFD;
    margin-top: 50px;
    margin-bottom: 20px;
}

.catigories-h1 {
    text-align: center;
    margin-bottom: 34px;
    font-size: 60px;
    font-weight: 800;
}

.why-us-course-container {
    background-color: #F3F4F8;
}

.why-us-course-child-cnt{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding-top: 60px;
}

.why-us-course-text-h3 {
    color: #005FFD;
}

.why-us-course-text-cnt {
    max-width: 654px;
}

.why-us-course-text-h1 {
    font-size: 55px;
    font-weight: 800;
    margin-top: 34px;
}

.why-us-course-text-p {
    margin-top: 41px;
    color: #777;
    max-width: 566px;
}

.why-us-course-check {
    display: flex;
    align-items: center;
    gap: 20px;
}

.why-us-course-check-cnt {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.why-us-course-img-cnt {
    position: relative;
    max-width: 450px;
}

.why-us-course-img {
    width: 100%;
}

.why-us-course-comment-top {
    width: 100%;
    max-width: 262px;
    height: 72px;
    background-color: #FFF;
    position: absolute;
    top: 245px;
    border-radius: 6px; 
    right: -60px;
    padding-left: 70px;
}

.why-us-course-comment-bott {
    width: 194px;
    height: 72px;
    display: flex;
    gap: 10px;
    position: absolute;
    top: 335px;
    right: -60px;
    border-radius: 6px;
    padding: 15px;
    background-color: #FFF;
    align-items: center;
}

.online-course-title {
    margin-top: 120px;
}

.online-course-top-cnt {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partners-container {
    max-width: 1170px;
    min-height: 130px;
    background-color: #D5DFEF;
    padding: 0 100px;
    border-radius: 6px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 120px;
    box-shadow: 1px 49px 0px -33px rgba(255,82,25,0.77);
    -webkit-box-shadow: 1px 42px 0px -33px rgba(255,82,25,0.77);
    -moz-box-shadow: 1px 49px 0px -33px rgba(255,82,25,0.77);
}


.online-course-container {
    max-width: 1200px;
    margin: auto;
}

.online-course-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 42px;
}

.online-course-card {
    display: flex;
    height: 500px;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    background-color: #FFF;
}

.online-course-video {
    background-color: black;
    height: 100%;
    position: relative;
}

.online-course-text {
    height: 100%;
    padding: 22px 28px; 
}

.online-course-h4 {
    font-size: 24px;
    font-weight: 700;
}

.online-course-user-cnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.online-course-star-cnt {
    display: flex;
    align-items: center;
    gap: 10px;
}

.online-course-user-img {
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 50%;
}

.user-and-user_name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.online-course-card-line {
    width: 100%;
    height: 1px;
    background-color: #ACACAC;
    border-radius: 10px;
    margin-top: 30px;
}

.online-course-user-cnt {
    margin-top: 33px;
}

.online-course-card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
}

.online-course-watch-people {
    display: flex;
    align-items: center;
    gap: 6px;
}

.conline-course-video-red-btn {
    max-width: 93px;
    height: 26px;
    background-color: #FF5219;
    color: #FFF;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.conline-course-video-blue-btn {
    max-width: 93px;
    height: 26px;
    background-color: #005FFD;
    color: #FFF;
    border-radius: 4px;
    padding: 5px;
    cursor: pointer;
}

.online-course-video-btn-cnt {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 10px;
    bottom: 15px;
    left: 20px;
}

.online-course-user_name {
    color: #777;
}

.online-course-star-p {
    color: #777;
}

.online-course-card-h3 {
    color: #FF5219;
}

.online-course-watch-people-p {
    color: #777;
}

.speak-lesson-component {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 45px;
}

.speak-lesson-component-child {
    max-width: 570px;
    min-height: 110px;
    background-color: #FFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.speak-lesson-component-child:hover  {
    color: #FF5219;
    box-shadow: 11px 0px 0px 0px #FF5219;
    -webkit-box-shadow: 11px 0px 0px 0px #FF5219;
    -moz-box-shadow: 11px 0px 0px 0px #FF5219;
}

.speak-lesson-day {
    color: #0060FF;
}

.speak-lesson-line {
    width: 1px;
    height: 60px;
    display: inline-block;
    background: #777;
}

.speak-lesson-component-text-time {
    display: flex;
    align-items: center;
    gap: 20px;
}

.speak-lesson-component-text-h1 {
    font-size: 24px;
} 

.speak-lesson-component-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.speak-lesson-component-text-time {
    color: #777;
}

.speak-lesson-video-cnt {
    width: 100%;
    max-width: 600px;
}

.speak-lesson-video {
    background-color: black;
    max-width: 500px;
    height: 700px;
    border-radius: 6px;
}

.speak-lesson-child-cnt {
    margin-top: 130px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-self: center;
}

.video-btn {
    width: 300px;
    height: 100px;
    background-color: #FF5219;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    text-decoration: none;
    border-radius: 6px;
    padding: 0 20px;
    position: absolute;
    bottom: 100px;
    right: 20px;
}

.speak-lesson-video-child-cnt {
    position: relative;
}

.speak-lesson-container {
    margin-top: 120px;
    padding: 120px 20px;
    background-color: #F3F4F8;
}

.btn-with {
    margin-top: 33px;
    max-width: 170px;
}

.price-components {
    height: 546px;
    padding: 40px;
    background-color: #FFF;
    border-radius: 6px;
}

.price-h1 {
    margin-bottom: 20px;
}

.price-p {
    color: #777;
}

.price-span {
    font-size: 30px;
    font-weight: 800;
    color: #FF5219;
}

.price-check-child {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
} 

.price-4 {
    margin-top: 21px;
}

.price-line {
    width: 100%;
    height: 1px;
    background-color: #D7D7D7;
    border-radius: 10px;
    margin-top: 20px;
}


.price-container {
    max-width: 1500px;
    margin: auto;
    padding: 100px 15px;
}

.text-center {
    text-align: center;
}

.price-comonents-flex-cnt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    gap: 26px;
    flex-wrap: wrap;
    margin-top: 35px;
}

.text-margin {
    margin-bottom: -20px;
}

.mision-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px    , 1fr));
    grid-template-rows: repeat(1, 1fr);
}

.mision-text-cnt {
    width: 100%;
    background-color: #202020;
    color: #FFF;
    padding: 125px 0;
    position: relative;
}

.right {
    margin-left: 150px;
}

.mision-img-cnt {
    width: 100%;
    background-color: #777;
}

.mision-component {
    display: flex;
    align-items: center;
    gap: 16px;
}

.mision-component-p {
    max-width: 460px;
}

.mision-components {
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mision-component-p {
    margin-top: 11px;
    color: #D5DFEF;
}

.mision-component-h4 {
    font-size: 24px;
}

.servise-container{
    padding: 120px 20px;
}

.servise-components {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    margin-top: 37px;
    gap: 20px;
}

.servise-component {
    text-align: center;
    padding: 20px;
    border-radius: 6px;
    transition: 0.3s;
    height: 400px;
    cursor: pointer;
}

.servise-video-cnt {
    height: 270px;
    background-color: black;
    border-radius: 6px;
    position: relative;
}

.servise-component:hover {
    background-color: #FFF;
}

.servise-h4 {
    margin-top: 29px;
    font-size: 24px;
}

.servise-p {
    margin-top: 12px;
    color: #FF5219;
}

.servise-media-cnt {
    display: none;
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 50px;   
}

.servise-component:hover .servise-media-cnt {
    display: block;
    opacity: 1;
}

.comment-container {
    background-color: #F3F4F8;
    padding: 120px 20px;
}

.comment-conainer-child {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: repeat(1, 1fr);
    gap: 40px;
}

.comment-text-cnt {
}

.comment-component {
    background-color: #FFF;
    border-radius: 6px;
    padding: 35px;
}

.comment-user-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.comment-component-text {
    color: #777;
}

.comment-user-cnt {
    width: 90px;
    height: 90px;
    border: 1px solid #FF5219;
    border-radius: 6px;
    padding: 10px;
}

.comment-user-img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: black;
}

.comment-user-cmp {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment-user-name-p {
    color: #FF5219;
}

.comment-text-p {
    margin-top: 37px;
    color: #777;
}

.articles-container {
    padding: 120px 20px;
}

.articles-components {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-top: 34px;
}

.articles-component {
    max-width: 370px;
    height: 442px;
    background-color: #FFF;
    border-radius: 6px;
    overflow: hidden;
}

.article-component-img {
    height: 270px;
    background-color: black;
}

.article-component-text {
    padding: 20px 30px;
}

.article-component-h4 {
    font-size: 24px;
    font-weight: 800;
}

.article-component-line {
    width: 100%;
    height: 1px;
    background-color: #ACACAC;
    border-radius: 10px;
    margin-top: 31px;
}

.article-component-call-flex {
    display: flex;
    align-items: center;
    margin-top: 21px;
    justify-content: space-between;
    padding-right: 40px;
}

.article-component-day {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-with-comment {
    max-width: 160px;
}

.footer-comment {
    max-width: 1170px;
    height: 230px;
    background-color: #005FFD;
    padding: 50px;
    margin: auto;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.footer-comment-img {
    position: absolute;
    top: 0;
    left: 0;
}

.footer-comment-h1 {
    font-size: 44px;
    font-weight: 800;
    color: #FFF;
    z-index: 1;
}

.footer-media {
    display: flex;
    align-items: center;
    gap: 20px;
}

.medias {
    width: 45px;
    height: 45px;
    background-color: rgb(73, 73, 73);
    transition: 0.3s;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 15px;
}

.medias:hover {
    background-color: #FF5219;
}

footer {
    height: 460px;
    background-color: #202020;
    color: #FFF;
}

.footer-component-p {
    color: #D1D9FE;
}

.footer-components-cnt {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 140px;
}

.footer-link-a {
    text-decoration: none;
    color: #D1D9FE;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btn-subscribe-cnt{
    width: 270px;
    height: 60px;
    color: black;
    font-size: 20px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 30px;
    cursor: pointer;
    padding-left: 20px;
}

.peper-plane {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    background-color: #FF5219;
}


.small-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #020828;
    height: 60px;
    width: 100%;
    color: white;
}

.small-footer-span {
    color: #FF5219;
}



@media (max-width: 1220px) {
    header {
        padding: 0 50px;
    }
    .main-cnt {
        max-width: 650px;
        margin: auto;
        gap: 40px;
    }
    .obj-1 {
        position: absolute;
        top: 80px;
        left: 100px;
    }
    .why-us-course-child-cnt {
        max-width: 650px;
    }

    .online-course-container {
        padding: 20px;
    }
    .right {
        margin-left: 60px;
    }
}

@media (max-width: 900px) {
    header {
        padding: 0 20px;
    }
    nav {
        display: none;
    }
    .hamburger-menu {
        display: block;
    }
    .obj-1 {
        position: absolute;
        left: 40px;
    }
    .partners-container {
        padding: 0 20px;
    }
    .right {
        margin-left: 30px;
    }
}

@media (max-width: 500px) {
    .right {
        margin-left: 10px;
    }
    header {
        padding: 0 20px;
    }
    .logo-header {
        margin-left: -100px;
    }
    .top-cnt {
        display: none;
    }
    .obj-1 {
        display: none;
    }

    .btn-main-black {
        margin-top: 20px;
    }
    .main-line-img-cnt {
        margin-left: 50px;
    }

    .why-us-course-text-h1 {
        font-size: 40px;
    }

    .why-us-course-comment-top {
        display: none;
    }

    .why-us-course-comment-bott {
        display: none;
    }
}
